@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --primary:  #FFDB89;
    --yellow: #F5EA5A;
    --black:  #000000;
    --width-break: 600px ;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kalam', cursive;
    color: var(--black);
    margin: 0px;
}

nav {
    display: block;
    background-color: var(--primary);
    text-align: center;
}

main {
    max-width: var(--width-break);
    margin: auto;
    padding: 1rem;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    writing-mode: horizontal-tb !important;
}

.output-box-head {
    font-size: larger;
}

#output-box {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}

#btn-translate {
    background-color: var(--primary);
    color: var(--black);
    font-family: Kalam, cursive;
    font-size: large;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    align-items: flex-start;
}

